<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="{% block description %}Сайт Гавриленко Ирины{% endblock %}"/>
    <meta name="keywords" content="{% block keywords %}фотография, фотография в Брянске, фото, фотосессии{% endblock %}"/>
    <title>{% block title %}Сайт Гавриленко Ирины{% endblock %}</title>

    {% block stylesheets %}
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
</head>

<body>
<div id="wrap">
    <div id="header">
        {% block header %}
            {% include 'PhotoBundle::header.html.twig' %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</div>

{% block footer %}
    {% include 'PhotoBundle::footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
{% endblock %}
</body>
</html>