<div id="footer">
    &copy;&nbsp;2015-{{ date()|date('Y') }}&nbsp;&laquo;Ирина Гавриленко&raquo; <br>
    <a href="mailto:frau.gavrilencko2011@yandex.ru">frau.gavrilencko2011@yandex.ru</a> <br>
    <i>+7(920)836-89-29</i> <br>
    <a href="https://vk.com/fromirinawithlove" target="_blank">
        <i class="fa fa-vk fa-2x"></i>
    </a>
    &nbsp;&nbsp;
    <a href="http://ok.ru/irina.gavrilenkoandreeva" target="_blank">
        <i class="fa fa-odnoklassniki fa-2x"></i>
    </a>
</div>