<div class="authorBlock">
    <div class="authorName">
        <a href="{{ path('photo_homepage') }}">Гавриленко Ирина</a>
    </div>
    <div class="photogarapher">
        <a href="{{ path('photo_homepage') }}">фотограф</a>
    </div>
</div>
<div id="menu">
    {{ knp_menu_render('main') }}
</div>