{% extends 'PhotoBundle::base.html.twig' %}

{% block content %}
    <div class="about-content">
        <div class="my_photo_block">
            <img src="{{ asset('bundles/photo/images/my_photo.jpg') }}" alt="Моя фотография">
        </div>
        <p>Привет!</p>
        <p>Приятно, что вы заглянули ко мне! Меня зовут Ирина, я фотограф. Я снимаю свадьбы, лавстори, семьи и детей, праздники и дни рождения- всё, что важно сохранить в памяти :)</p>
        <p>Я люблю общаться и знакомиться с новыми людьми. Я черпаю вдохновение в любви, в улыбках и эмоциях детей, в приключениях, в путешествиях и ярких впечатлениях.</p>
        <p>Я снимаю разные свадьбы, и большие, и маленькие. Не важно, будет ли это торжество с сотней гостей или маленькая свадьба для двоих. Я верю, что любую историю можно снять красиво! Не стесняйтесь написать мне, рассказать о своих свадебных планах, и мы обязательно все обсудим :) Ведь это Ваша история! Моя главная задача, как свадебного фотографа - это не только сделать модные снимки, которыми сейчас усеян интернет, а оставить на долгую память именно Ваш свадебный день, чтобы через много лет, просматривая фотографии, Вы могли снова и снова переживать те же эмоции. И я хочу запечатлеть ее такой, как она есть, в естественной и ненавязчивой форме.</p>
        <p>Усаживайтесь поудобнее, захватите чашечку чая и погуляйте по мому сайту. Уверена, мои фотографии расскажут обо мне намного больше :)</p>
    </div>
{% endblock %}
