{% extends 'PhotoBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Привет</h1>
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}