{% extends 'PhotoBundle::base.html.twig' %}

{% block content %}
    <div class="priceBlock">
        <div class="headerBlock">Пакет «Love Story»</div>
        <div class="textBlock italic">
            Фотосъемка в течение 1,5-2 часов <br/>
            Фотосъемка в БУДНИЙ день(с понедельника по четверг), либо в воскресенье(при наличии свободных дат)
        </div>
        <div class="textBlock">
            <ul>
                <li>Предварительная консультация</li>
                <li>Обработка всех фотографий (свето- и цветокоррекция)</li>
                <li>Художественная обработка 20 фотографий</li>
                <li>Запись всех снимков(не менее 100 фото) на диск</li>
            </ul>
        </div>
        <div class="textBlock">Стоимость от 2500 рублей</div>
    </div>
{% endblock %}
