{% extends 'PhotoBundle::base.html.twig' %}

{% block content %}
    <div class="priceBlock">
        <div class="headerBlock">Фотосессия семьи, детей и в ожидании малыша</div>
        <div class="textBlock italic">Предварительная консультация</div>
        <div class="textBlock">
            <ul>
                <li>Фотосъемка в течение 1-1,5 часов</li>
                <li>Обработка всех фотографий (цветокоррекция, ретушь кожи)</li>
                <li>Художественная обработка 20 фотографий</li>
                <li>Запись всех снимков(не менее 100 фото) на диск</li>
            </ul>
        </div>
        <div class="textBlock">Стоимость от 2000 рублей</div>
    </div>
{% endblock %}
