{% extends 'PhotoBundle::base.html.twig' %}

{% block content %}
    <div class="priceBlock">
        <div class="headerBlock">
            Фотосессия семьи, детей, беременности, <br/>
            портфолийные фотосессии в студии или у вас дома
        </div>
        <div class="textBlock">
            <ul>
                <li>Предварительная консультация</li>
                <li>Фотосъемка в течение 1-2 часов</li>
                <li>Аренда фотостудии (при необходимости)</li>
                <li>Обработка всех фотографий (цветокоррекция и легкая ретушь)</li>
                <li>Художественная обработка 20 фотографий</li>
                <li>Запись всех снимков(не менее 100 фото) на диск</li>
            </ul>
        </div>
        <div class="textBlock">Стоимость от 3000 рублей</div>
        <div class="textBlock">Дополнительно возможен заказ стилиста, декоратора</div>
    </div>
{% endblock %}