{% extends 'PhotoBundle::base.html.twig' %}

{% block content %}
    <div class="priceBlock">
        <div class="bigHeader">Свадебная фотосъёмка</div>

        <div class="headerBlock">Пакет «Базовый»</div>
        <div class="textBlock italic">Фотосъёмка до 5 часов</div>
        <div class="textBlock">
            <ul>
                <li>Предварительная консультация</li>
                <li>Обработка всех фотографий (свето- и цветокоррекция)</li>
                <li>Ретушь 25 фотографий</li>
                <li>Запись всех снимков на диск</li>
            </ul>
        </div>
        <div class="textBlock">Стоимость от 8000 рублей</div>

        <div class="headerBlock">Пакет «Стандартный»</div>
        <div class="textBlock italic">Фотосъёмка до 8 часов</div>
        <div class="textBlock">
            <ul>
                <li>Предварительная консультация</li>
                <li>Обработка всех фотографий (свето- и цветокоррекция)</li>
                <li>Ретушь 35 фотографий</li>
                <li>Запись всех снимков на диск</li>
            </ul>
        </div>
        <div class="textBlock">Стоимость от 12000 рублей</div>

        <div class="headerBlock">Пакет «Максимальный»</div>
        <div class="textBlock italic">Фотосъёмка до 12 часов</div>
        <div class="textBlock">
            <ul>
                <li>Предварительная консультация</li>
                <li>Обработка всех фотографий (свето- и цветокоррекция)</li>
                <li>Легкая ретушь 50 фотографий</li>
                <li>Запись всех снимков на диск в авторской упаковке</li>
                <li>Слайд-фильм</li>
            </ul>
        </div>
        <div class="textBlock">Стоимость от 16000 рублей</div>
    </div>
{% endblock %}