#admin_buttons_block {
  width: 300px;
  margin: 0 auto;
  .admin_button {
    display: block;
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 3px;
    background: #99CEC2;
    box-shadow: 0 -3px #58A594 inset;
    transition: 0.2s;
    margin-top: 30px;
    text-align: center;
    &:hover {
      background: #58A594;
    }
    &:active {
      background: #3A816E;
      box-shadow: 0 3px #3A816E inset;
    }
  }
}

#table_albums {
  width: 100%;
  .row {
    width: inherit;
    clear: both;
    height: 30px;
    border-bottom: 1px dashed black;
    &.header {
      background-color: #edf8ff;
      font-weight: bold;
    }
    &:nth-child(2n) {
      background-color: #eff8e1;
    }
    .column {
      float: left;
      padding: 5px 0;
      box-sizing: border-box;
      text-indent: 10px;
      &.id {
        width: 15%;
      }
      &.caption {
        width: 30%;
        border-left: 1px dashed black;
      }
      &.url {
        width: 25%;
        border-left: 1px dashed black;
      }
      &.action {
        width: 30%;
        border-left: 1px dashed black;
        div {
          width: 16px;
          height: 16px;
          float: left;
          margin-left: 10px;
          cursor: pointer;
        }
        .enabled {
          background-image: url("/images/admin/disabled.png");
        }
        .disabled {
          background-image: url("/images/admin/enabled.png");
        }
        .edit {
          background-image: url("/images/admin/edit.png");
        }
        .delete {
          background-image: url("/images/admin/del.png");
        }
      }
    }
  }
}