{% extends 'PhotoBundle:Pages/Admin:base.html.twig' %}

{% block content %}
    <div id="table_albums">
        <div class="row header">
            <div class="column id">Id</div>
            <div class="column caption">Название</div>
            <div class="column url">Адрес URL</div>
            <div class="column action">Действия</div>
        </div>
        {% for album in albums %}
            <div class="row">
                <div class="column id">{{ album.id }}</div>
                <div class="column caption">{{ album.caption }}</div>
                <div class="column url">{{ album.url }}</div>
                <div class="column action">
                    {% if album.enabled %}
                        <div class="enabled" title="Отключить отображение"></div>
                    {% else %}
                        <div class="disabled" title="Включить отображение"></div>
                    {% endif %}
                    <div class="edit" title="Редактировать"></div>
                    <div class="delete" title="Удалить"></div>
                </div>
            </div>
        {% endfor %}
        <div class="row last">
            <div class="column id"> </div>
            <div class="column caption"></div>
            <div class="column url"></div>
            <div class="column action">
                <br>
                <a href="{{ path('admin_album_new') }}" class="knopka">
                    Создать новый альбом
                </a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
