{% extends 'PhotoBundle:Pages/Admin:base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <h1>Создание статьи</h1>

    {{ form(form) }}

    <a href="{{ path('admin_posts') }}" class="btn btn-default back_button">
        <span class="glyphicon glyphicon-arrow-left" title="Назад"></span>
        Вернеться к списку
    </a>
{% endblock %}
